.container {
  margin-top: 20px;
}

body {
  background-color: #1B2430;
}

.breadTop {
  height: 80px;
  width: 300px;
  background-color: rgb(162, 93, 1);
  margin: 10px;
  border-radius: 250px 250px 5px 5px;
}

.breadBottom {
  margin: 10px;
  height: 100px;
  width: 300px;
  background-color: rgb(162, 93, 1);
  border-radius: 5px 5px 60px 60px;
}

.salad {
  height: 8px;
  width: 300px;
  margin: 10px;
  border-radius: 6px;
  background-color: rgb(78, 130, 0);
}

.cheese {
  height: 15px;
  width: 300px;
  margin: 10px;
  background-color: rgb(230, 255, 43);
}

.beef {
  height: 35px;
  width: 300px;
  margin: 10px;
  border-radius: 6px;
  background-color: rgb(124, 25, 25);
}